.c-yandex-map {
  min-height: 20rem;
  flex-grow: 1;

  &.card {
    padding: 0.25rem;
  }

  :first-child {
    z-index: 1;
  }
}

#form-contact {
  .icon-exclamation-circle {
    color: #acc;
  }
}
