p {
  &.h-push {
    line-height: $line-height-base * 1.25;
  }
}

ol,
ul {
  &.h-push {
    > li {
      margin-bottom: 0.75rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

dl {
  &.h-push {
    > dt,
    > dd {
      margin-bottom: 0.75rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.h-font {
  &--size {
    &-base {
      font-size: $font-size-base;
    }

    &-lg {
      font-size: $font-size-lg;
    }

    &-sm {
      font-size: $font-size-sm;
    }
  }
}

.h-text {
  &--white {
    color: $gray-100;
  }

  &--accent {
    color: $color-accent;
  }

  &--active {
    color: $color-active;
  }

  &--href {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.is-active,
.active {
  cursor: default;
}

a,
input,
button,
.h-onclick,
.btn {
  outline: 0 !important;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.is-parent,
  .is-parent > & {
    color: $color-active;
  }

  &:hover {
    color: $link-color;
  }

  &.is-active,
  .is-active > &,
  &.active,
  .active > & {
    color: $color-accent;
  }
}
