a,
input,
button,
.h-onclick,
.btn {
  outline: 0 !important;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.h-text--href,
  .h-text--href & {
    &.is-parent,
    .is-parent & {
      color: transparentize($color-active, 0.1) !important;
    }

    &:hover {
      color: transparentize($link-color, 0.1) !important;
    }

    &.is-active,
    .is-active & {
      color: transparentize($color-accent, 0.1) !important;
    }
  }
}

p {
  &.h-push {
    line-height: $line-height-base * 1.2;
  }
}

ol,
ul {
  &.h-push {
    > li {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

dl {
  &.h-push {
    > dt,
    > dd {
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.h-font {
  &--size {
    &-base {
      font-size: $font-size-base;
    }

    &-lg {
      font-size: $font-size-lg;
    }

    &-sm {
      font-size: $font-size-sm;
    }
  }
}

.h-text {
  &--white {
    color: $gray-100;
  }

  &--accent {
    color: $color-accent;
  }

  &--active {
    color: $color-active;
  }

  &--href:hover {
    color: $link-hover-color;
  }
}

.h-overflow {
  overflow: hidden;

  &--x {
    overflow-x: hidden;
  }

  &--y {
    overflow-y: hidden;
  }
}
