.container
  h1.h-duplet(itemprop="name") == @header

  //.row
    .col-xs-12.col-lg-6
      .embed-responsive.embed-responsive-16by9.shadow.mb-3
        video[
          src='/media/video/00.mp4'
          poster='/media/video/00.jpg'
          controls=true
          muted=true
        ]
    .col-xs-12.col-lg-6
      h2 Жилой комплекс «Новое Ступино»
      p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus...

  h3.text-success
    ' Бизнес-центр «Высота»
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва, пос. Газопровод
  .font-weight-bold Выполнение отделочных работ офисных помещений и мест общего пользования
  div Площадь по полу: 1.120 м<sup>2</sup>
  .mb-2 Срок выполнения: 11.2014-01.2015.
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/00.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/00.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/00.jpg')
      )

  hr

  h3.text-success
    ' Квартал 126
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва, Рязанский район, ул. Академика Скрябина, д. 6
  .font-weight-bold Выполнение отделочных работ муниципальных квартир и мест общего пользования
  div Площадь по полу: 10.050 м<sup>2</sup>
  .mb-2 Срок выполнения: 02.2015-01.2016
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=341
      data-lazy=asset_path('objects/presentation/01.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/01.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/01.jpg')
      )

  hr

  h3.text-success
    ' Фитнес-центр «Rigert Academy»
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва, 1-я ул. Машиностроения, д. 10
  .font-weight-bold Выполнение отделочных работ, включая инженерные сети
  div Площадь по полу: 380 м<sup>2</sup>
  .mb-2 Срок выполнения: 09.2015-10.2015
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=341
      data-lazy=asset_path('objects/presentation/02.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/02.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/02.jpg')
      )

  hr

  h3.text-success
    ' Пиццерия
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва,  Дербенёвская ул, д. 20, стр. 10
  .font-weight-bold Выполнение отделочных работ, включая инженерные сети
  div  Площадь по полу: 200 м<sup>2</sup>
  .mb-2 Срок выполнения: 05.2016-06.2016
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/03.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/03.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/03.jpg')
      )

  hr

  h3.text-success
    ' Офисное здание
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва, 1-й Рижский пер, д. 2Г
  .font-weight-bold Демонтаж пристройки
  div Площадь по полу 1.080 м2
  .mb-2 Срок выполнения 09.2016-10.2016
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/04.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/04.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/04.jpg')
      )

  hr

  h3.text-success
    ' Комплекс зданий
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва, Рязанский проспект, вл. 6А. (3я очередь строительства)
  .font-weight-bold Обследований зданий,  демонтаж подземных и надземных строений
  .mb-2 Строительный объем: 80.000 м<sup>3</sup>
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/05.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/05.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/05.jpg')
      )

  hr

  h3.text-success
    ' Офисно-административное здание
    sup.badge.badge-success.h-font--size-sm реализовано
  div Москва, 1-й Рижский пер, д. 2Г
  .font-weight-bold Строительство 12 этажного здания. Разработка котлована, возведение бетонных конструкций, устройство каменной кладки, гидроизоляция
  .mb-2 Площадь: 10.600 м<sup>2</sup>
  .banner.h-preload.mr-4.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/07.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/07.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/07.jpg')
      )
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=144
      height=192
      data-lazy=asset_path('objects/presentation/06.jpg')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/06.jpg')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/06.jpg')
      )

  hr

  h3.text-danger
    ' ЖК «Ясный»
    sup.badge.badge-danger.h-font--size-sm 2019
  div г. Москва, Каширское шоссе, д. 65
  .font-weight-bold.mb-2 Общестроительные работы, отделочные работы, монтаж инженерных сетей
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/08.png')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/08.png')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/08.png')
      )

  hr

  h3.text-danger
    ' ЖК «Дом в Олимпийской деревне»
    sup.badge.badge-danger.h-font--size-sm 2019
  div Москва, Мичуринский проспект, Олимпийская деревня, д. 10, к. 1
  .font-weight-bold.mb-2 Общестроительные работы, отделочные работы
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=341
      data-lazy=asset_path('objects/presentation/09.png')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/09.png')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/09.png')
      )

  hr

  h3.text-danger
    ' ЖК «Некрасовка»
    sup.badge.badge-danger.h-font--size-sm 2019
  div Москва, район Некрасовка, ул. Вертолетчиков
  .font-weight-bold.mb-2 Общестроительные работы, отделочные работы
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=192
      data-lazy=asset_path('objects/presentation/10.png')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/10.png')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/10.png')
      )

  hr

  h3.text-danger
    ' ЖК «Счастье»
    sup.badge.badge-danger.h-font--size-sm 2019
  div Москва, Ленинский пр-т., д. 154
  .font-weight-bold.mb-2 Общестроительные работы, отделочные работы
  .banner.h-preload.my-3
    canvas.banner__frame.d-block.h-bg--cover.h-shadowed(
      width=256
      height=341
      data-lazy=asset_path('objects/presentation/11.png')
      data-lightbox=action_name
      data-lightbox-href=asset_path('objects/presentation/11.png')
      )
    link(
      itemprop='image'
      href=asset_path('objects/presentation/11.png')
      )
