h2 «Алые Паруса» многофункциональный жилой комплекс

p Москва, улица Авиационная, владение 77(77-99)

hr

h2 «Новое Ступино» малоэтажный город-спутник

p Московская область, Ступинский район, село Верзилово

hr

h2 «Эко Видное» жилой микрорайон

p Московская область, Ленинский район

hr

h2 Физкультурно-Оздоровительный Комплекс

p Москва, ул. Ткацкая, вл. 26
