#navbar {
  overflow: hidden;
  padding-top: 0.5rem;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  .nav-link {
    text-transform: uppercase;
  }
}

.navbar-toggler {
  margin-top: 1.125rem;
  color: $gray-500;
}
