$icon-required: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='512' width='512' viewBox='0 0 512 512'%3E%3Cpath fill='%23acc' fill-opacity='.5' d='m256 0q69.7 0 128 34.3 58.8 34.3 93.2 93.2 34.3 58.8 34.3 128t-34.3 128q-34.3 58.8-93.2 93.2-58.8 34.3-128 34.3t-128-34.3q-58.8-34.3-93.2-93.2-34.3-58.8-34.3-128t34.3-128q34.3-58.8 93.2-93.2 58.8-34.3 128-34.3zm42.7 416v-63.3q0-4.67-3-7.83t-7.33-3.17h-64q-4.33 0-7.67 3.33-3.33 3.33-3.33 7.67v63.3q0 4.33 3.33 7.67 3.33 3.33 7.67 3.33h64q4.33 0 7.33-3.17t3-7.83zm-0.67-115 6-207q0-4-3.33-6-3.33-2.67-8-2.67h-73.3q-4.67 0-8 2.67-3.34 2-3.34 6l5.67 207q0 3.33 3.33 5.83t8 2.5h61.7q4.67 0 7.83-2.5 3.17-2.5 3.5-5.83z'/%3E%3C/svg%3E");

.control-required {
  padding-right: ($input-padding-x * 3);
  background-repeat: no-repeat;
  background-position: center right ($input-height-inner / 4);
  background-size: ($input-height-inner / 2) ($input-height-inner / 2);
  background-image: $icon-required;
}

.form-control {
  &::-webkit-input-placeholder {
    color: $input-placeholder-color;
    font-weight: 300;
  }
  &::-moz-placeholder {
    color: $input-placeholder-color;
    font-weight: 300;
    opacity: 1
  }
  &:-moz-placeholder {
    color: $input-placeholder-color;
    font-weight: 300;
    opacity: 1
  }
  &:-ms-input-placeholder {
    color: $input-placeholder-color;
    font-weight: 300;
  }
  &::placeholder {
    font-weight: 300;
  }

  &[required],
  &--required {
    @extend .control-required;
  }
}
